body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, 
    background: url('./assets/background.jpg') center/cover no-repeat fixed; 
}

@keyframes wave-transition {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5%);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.75vw;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.logo {
    font-size: 2vw;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 1vw;
    transition: color 0.3s ease;
}

.logo:hover {
    color: black;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1vw;
    z-index: 100;
}

.nav-button {
    background-color: #seagreen;
    color: black;
    padding: 0.8vw 1.4vw;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5vw;
    margin-left: 0.5vw;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-shadow: 0 0 0.3rem black;
}

.nav-button:hover {
    background-color: #000000;
    transform: scale(1.1);
    color: white;
}

.learn-text {
    font-size: 3vw;
    color: #000000;
    animation: wave 1s infinite;
    font-weight: bold;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5%);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0);
    }
}

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-text {
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

.welcome-text h1 {
    font-size: 5vw;
    margin-bottom: 0.5vw;
    font-weight: bold;
    color: #333;
}

.welcome-text p {
    font-size: 3vw;
    color: #777;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tutarchive {
    color: #000000;
    position: relative;
    cursor: pointer;
}

.tutarchive::before {
    content: "tutorial-archive";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.tutarchive:hover::before {
    opacity: 1;
}



.github-repo {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8vw;
    color: transparent;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-shadow: 0 0 0.3rem black;
    transition: opacity 0.5s ease; 
}

.github-repo.hidden {
    opacity: 0;
}




.github-repo:hover {
    background-color: #ffffff;
    color: #000000; 
}

.github-repo p a {
    color: inherit; 
}
.sidebar-container {
    display: flex;
}

.sidebar {
    width: 150px;
    background-color: #333;
    color: #fff;
    padding-top: 2vw;
    box-shadow: 0 0 0.3rem black;
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /
}

.sidebar li:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.05); 

.content {
    flex-grow: 1;
    padding: 20px; 
}

.parallax-container {
    position: relative;
    height: 100vh;
    background: url('./background.jpg') center/cover no-repeat fixed;
}

.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;


.placeholder {
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) scale(0.8);
    padding: 20px;
    transition: transform 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease;
    opacity: 1;
    background-color: #000000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    border-radius: 8px; 
    text-align: right; 
}

.show-placeholder {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}
.placeholder-box {
    max-width: 400px; 
    margin: 0 auto; 
}
